#content{
  margin-left: 400px;
  margin-top: 30px;

}
h6{
  font-size: 100px;
  font-family: serif;
  margin-left: 300px;

}
#submit{
  border-color: #ffa500;
  background-color: blue;
  border-width: thick;
  padding-left: 50px;
  padding-right: 50px;

}
.f1{
  border-width: thick;
  border-style: ridge;
}
#player2{
  display:none;
}
body{
  background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&h=350');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#player1{
  margin-left: 400px;
}

#player2{
  margin-left: 400px;
}
